@model CustomerOrderListModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order;
@{
    Layout = "~/Themes/DefaultClean/Views/Shared/_CustomLayout.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    //个人中心菜单
    ViewBag.Menu = "orders";
}
@section sec_head{

}

<div id="wrap">
    @Html.Action("CustomerMenu", "Customer")
    <div id="orderListInfo" class="account">
        @Html.Partial("CustomerOrderList",Model.Orders);
    </div>
</div>
