<div class="footer">
    <div class="content">
        <div class="col-md-1">
            <p>湖南省长沙市雨花区<br />韶山南路211号宝马家居市场<br />F1-58号</p>
            <p>联系方式<br />座机：0731-85772070<br />手机：18673101790</p>
        </div>
        <div class="col-md-2">
            <h2>公司信息</h2>
            <a href="@Url.RouteUrl("NewsItem", new { SeName = "关于" })" target="_blank">关于</a>
            <a href="#" target="_blank">工作机会</a>
            <a href="#" target="_blank">博客</a>
            <a href="#" target="_blank">帮助</a>
            <a href="#" target="_blank">条款与隐私</a>
        </div>
        <div class="col-md-2">
            <h2>快速订购</h2>
            <a href="/product/productgroups">所有套餐</a>
            <a href="/search?q=">商品</a>
            @*<a href="#" target="_blank">热销排行</a>*@
            <a href="/search?cid=1&tid=0">窗帘</a>
            <a href="/search?cid=2&tid=0">罗马杆</a>
            <a href="/search?cid=3&tid=0">轨道</a>
            <a href="/search?cid=4&tid=0">百叶窗</a>
        </div>
        <div class="col-md-2">
            <h2>帐户</h2>
            <a href="/order/history">预约单</a>
            <a href="/customer/info">我的帐户</a>
        </div>
        <div class="us">
            <h2>关注我们</h2>
            <ul>
                <li><a href="#" target="_blank" class="sina"></a></li>
                <li><a href="#" target="_blank" class="weixin"></a></li>
            </ul>
            <p>湘ICP备14002209号-1 | © lgmt.cn</p>
        </div>
    </div>
</div>