@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@using Nop.Core;

@{
    Layout = "~/Themes/DefaultClean/Views/Shared/_CustomLayout.cshtml";
   
    //title
    Html.AddTitleParts("修改密码");

    //个人中心菜单
    ViewBag.Menu = "changepassword";
}
@section sec_head{
    
}
@section sec_body{
 
}
<div id="wrap">
    @Html.Partial("CustomerMenu")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        var validationSummary = Html.ValidationSummary(true);
        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
        {
            <div class="message-error">@validationSummary</div>


        }  
    }
</div>